html,
body {
	overscroll-behavior-y: contain;
	background-color: black;
}

@font-face {
	font-family: oldSchool;
	src: url(./fonts/IBM-BIOS.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: oldSchool;
}

.snake-game {
	border-color: lime;
	border-width: 1px;
	border-style: solid;
	box-shadow: 0 0 2px lime;
}

.game-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.score {
	color: lime;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

.hidden {
	display: none;
}
